/* Start Main Rules */
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    background-color:hsl(225, 100%, 98%);
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    margin:0
}
/* End Main Rules */
/* Start Card */
header {
    width:450px;
    height:80vh;
    background-color:white;
    border-radius:20px
}
@media (max-width:375px) {
    header {
        width:350px
    }
}
header .image img {
    border-radius:20px 20px 0 0;
    max-width: 100%;
}
header .heading {
    font-size: 29px;
    width: fit-content;
    margin: 30px auto 0;
}
header p{
    font-size: 16px;
    width: 300px;
    margin: 20px auto;
    line-height: 1.7;
    text-align: center;
    color: hsl(224, 23%, 55%)
}
@media (max-width:375px) {
    header .heading {
        font-size: 25px;
    }
    header p {
        width: 270px;
    }
}
header .subscription {
    padding: 20px;
    background-color: hsl(225, 100%, 98%);
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
}
header .subscription .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header .subscription .logo img{
    width:50px;
    height: 50px;
    margin-right: 20px;
    
}
header .subscription .logo .price {
    display: flex;
    align-content: center;  
    flex-wrap: wrap;
}
header .subscription .logo h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
header .subscription .logo p{
    width:fit-content;
    flex-basis: 51%;
    margin: 0 0 0 -3px;
    
}
@media (max-width:375px) {
    header .subscription{
        width: 270px;
    }
    header .subscription .logo {
        justify-content: stretch;
        align-items: stretch;
        flex-wrap: nowrap;
    }
    header .subscription .logo img{
        margin-right: 20px;
    }
}
header .subscription a {
    font-size: 15px;
    color:hsl(245, 75%, 52%)
}
header .button {
    width: 350px;
    margin: 30px auto;
    text-align: center;
    background: hsl(245, 75%, 52%);
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width:375px) {
    header .button {
        width: 250px;
    }
}
header .cansel {
    width: fit-content;
    margin: 30px auto;
    color: hsl(224, 23%, 55%);
    font-weight: bold;
}

/* End Card */